/* Common CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Navbar section start  */

.navbar {
  border: 2px solid tomato;
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin-top: 30px;
}
.navbar img{
    height:60px;
}

.list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:48px;
    list-style: none;
    height:70px;
}
.list-item a{
    text-decoration: none;
    
}
.list-item-home, .list-item-cart{
    color:#252432;
    font-size: 18px;
    font-weight: bold;
}
.list-item-shop, .list-item-about{
    color:#8987A1;
    font-size: 18px;
    font-weight: 400;
}
