@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Common CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Container {
  max-width: 1140px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}

/* Navbar section start  */

.navbar {
  /* border: 2px solid tomato; */
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin-top: 30px;
}
.logo {
  height: 70px;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  list-style: none;
  height: 70px;
}
.list-item a {
  text-decoration: none;
}
.list-item-home,
.list-item-cart {
  color: #252432;
  font-size: 20px;
  font-weight: bold;
}
.list-item-shop,
.list-item-about {
  color: #8987a1;
  font-size: 20px;
  font-weight: 400;
}

/* Banner section start */
.banner-container {
  /* border: 2px solid tomato; */
  margin-top: 120px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.banner-left {
  width: 570px;
  height: 290px;
  margin-top: 160px;
}

.title {
  font-size: 55px;
  color: #000000;
}
.title-span {
  font-size: 55px;
  color: #e95a08;
}

.title-paragraph {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 13px;
}

.banner-right {
  width: 570px;
  /* height: 355px; */
  margin-top: 106px;
  /* margin-bottom: 20px; */
}

/* Plans section style */
.plans-container {
  /* border: 2px solid tomato; */
  
  /* height: 133px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.plans-title {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 48px;
}
.plans-title-span {
  color: rgb(233, 90, 8);
}
.plans-subtitle {
  width: 600px;
  /* height: 50px; */
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  text-align: center;
}

.plans-card-container {
  /* border: 2px solid tomato; */
  margin-top: 49px;
  /* height: 965px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 19px;
}
.plans-card {
  width: 270px;
  /* height: 450px; */
  text-align: center;
}

.card-img {
  width: 270px;
  /* height: 320px; */
  margin-bottom: 20px;
}
.card-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.card-price {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.btn-primary {
  width: 270px;
  height: 50px;
  font-weight: bold;
  background-color: rgb(233, 90, 8);
  color: rgb(255, 255, 255);
  border: none;
  padding: 26px, 50px, 26px, 50px;
  /* margin-top: 20px; */
}
.btn-primary:hover {
  background-color: rgb(160, 60, 14);
}

/* Plants Lover Section */

.plants-lover-container {
  /* border:2px solid tomato; */
  /* height: 597px; */
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.plants-lover-img {
  width: 540px;
  /* height: 597px; */
}

.lover-img {
  width: 540px;
  /* height: 597px; */
  /* margin-top: 500px; */
}

@keyframes spin {
  from {
    transform: rotate(0 deg);
  }
  to {
    transform: rotate (360deg);
  }
}

.lover-badge {
  animation: spin 8s linear infinite;
  width: 280px;
  height: 280px;
  margin-left: -197px;
  margin-top: -120px;
  position: absolute;
}

.plans-lover-content {
  width: 540px;
  /* height: 520px; */
  margin-top: 38px;
  margin-left: 60px;
}
.lover-title {
  /* height: 137px; */
  font-size: 50px;
  font-weight: bold;
}
.lover-item {
  margin-top: 20px;
}
.lover-item li {
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
  font-weight: 400;
  margin-top: 30px;
}

/* Latest-deals-section start */
.latest-container {
  margin-top: 120px;
  margin-bottom: 120px;
}

.latest-content {
  /* border:2px solid tomato; */
  /* height: 137px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.latest-title {
  /* height: 68px; */
  font-size: 50px;
  font-weight: bold;
}

.latest-title-span {
  color: rgb(233, 90, 8);
}
.latest-paragraph {
  color: rgba(0, 0, 0, 0.5);
  width: 700px;
  font-size: 18px;
  font-weight: 400px;
  margin-top: 18px;
  text-align: center;
}

.latest-img-item {
  /* border:2px solid tomato; */
  margin-top: 120px;
  /* height: 423.13px; */
  display: flex;
  justify-content: center;
}

.latest-img-left {
  width: 367px;
  /* height: 423px; */
}

.left-img-1 {
  background-image: url("../assets/deal-bloom.png");
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  width: 367px;
  /* height: 200px; */
  border-radius: 20px;
  padding: 70px;
}
.left-img-2 {
  background-image: url("../assets/deal-ana.png");
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  width: 367px;
  /* height: 197px; */
  margin-top: 23px;
  border-radius: 20px;
  padding: 70px;
}
.left-img-1 h3,
a {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.left-img-2 h3,
a {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.latest-img-right {
  background-image: url("../assets/deal-zabo.png");
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  width: 80%;
  /* height: 400px; */
  margin-left: 20px;
  border-radius: 20px;
  /* padding: 180px; */
  /* margin-top: 10px; */
  background-size: cover;
}
.latest-img-right h1 {
  /* width: 700px; */
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  /* text-align: center; */
  font-size: 30px;
  margin-top: 150px;
}

/* Join section start */
.join-section {
  /* border: 2px solid tomato; */
  background-image: url("../assets/news-letter-bg.png");
  max-width: 1440px;
  height: 533px;
  /* background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.join-section h1 {
  color: white;
  font-size: 50px;
}
.form-container {
  display: flex;
  justify-content: center;
  width: 830px;
  /* height: 50px; */
  /* margin-left: 400px; */
  margin-top: 20px;
}
.input-btn {
  width: 640px;
  /* height: 50px; */
  text-align: left;
  padding: 12px;
}

.subscribe-btn,
.btn-primary {
  margin-top: 0px;
}
.subscribe-btn:hover {
  background-color: rgb(160, 60, 14);
}

/* Footer section start */

.footer {
  /* border: 2px solid tomato; */
  max-width: 1440px;
  /* height: 280px; */
  margin: 0 auto;
}

.footer-container {
  /* border: 2px solid tomato; */
  width: 1120px;
  /* height: 680px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  /* margin-top: 50px; */
}
.footer-logo {
  /* border: 2px solid tomato; */
  width: 359px;
  height: 178px;
  margin-top: 40px;
}
.logo-img {
  width: 135px;
  height: 82px;
}
.footer-logo-title {
  color: rgba(0, 0, 0, 0.5);
  width: 359px;
  /* height: 80px; */
}

.footer-item {
  /* border: 2px solid tomato; */
  margin-left: 100px;
  /* height: 248px; */
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-right: 100px;
}

.menu-list {
  /* border: 2px solid tomato; */
  color: rgb(107, 114, 128);
  list-style: none;
  text-align: left;
  width: 120px;
  /* height: 248px; */
}

.menu-list li {
  margin-top: 22px;
}

.social-icon {
  /* border: 2px solid tomato; */
  max-width: 50%;
  gap: 20px;
  /* height: 36px; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}

.display {
  display: none;
}

/* Responsive website Mobile Phone */

/* Navbar and banner section */
@media screen and (max-width: 576px) {
  .navbar {
    /* border: 2px solid tomato; */
    display: flex;
    justify-content: space-between;
    width: 361px;
    /* height: 60px; */
    margin-top: 67px;
    margin-left: 44px;
  }
  .logo {
    width: 100px;
    height: 50px;
  }
  .list-item-cart {
    /* border: 1px solid tomato; */
    width: 113px;
    /* height: 30px; */
    font-size: 18px;
    margin-bottom: 10px;
  }

  .list-item-shop,
  .list-item-about,
  .list-item-home {
    display: none;
  }
  /* Banner section start */
  .banner-container {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    margin-top: 28px;
  }

  .banner-left {
    /* border: 2px solid tomato; */
    width: 361px;
    height: 160px;
    margin-left: 18px;
    margin-top: auto;
  }
  .title,
  .title-span {
    width: 361px;
    /* height: 66px; */
    display: flex;
    flex-direction: column;
    font-size: 24px;
  }
  .title-paragraph {
    /* border: 2px solid tomato; */
    font-size: 14px;
    font-weight: 400;
    width: 360px;
    /* height: 80px; */
  }
  .banner-right {
    /* border:1px solid tomato; */
    width: 430px;
    margin-top: 10px;
    /* height: 265px; */
    margin-bottom: 20px;
  }

  /* Plants section Responsive  */

  .plants-section {
    margin-top: 50px;
  }

  .plans-container {
    /* border:1px solid tomato; */
    width: 393px;
    /* height: 117px; */
    margin-left: 22px;
    margin-top: 10px;
  }
  .plans-title {
    /* border:1px solid tomato; */
    width: 393px;
    /* height: 60px; */
    display: flex;
    justify-content: center;
  }
  .plans-subtitle {
    /* border:1px solid tomato; */
    width: 336px;
    /* height: 68px; */
    font-weight: 400;
    font-size: 12px;
  }

  .plans-card-container {
    width: 362px;
    /* height: 340px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .plans-card {
    /* border:1px solid tomato; */
    width: 195px;
    /* height: 335px; */
    /* margin-top: 10px; */
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
  .card-img {
    width: 193px;
    height: 196px;
  }
  .card-title {
    width: 100px;
    /* height: 12px; */
    font-size: 16px;
    font-weight: 400;
    margin-left: 46px;
  }
  .card-price {
    width: 59px;
    /* height: 12px; */
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 30px;
    margin-left: 65px;
    margin-top: 5px;
  }
  .plans-card .btn-primary {
    width: 193px;
    /* height: 50px; */
  }
  /* Plants-lover-container */

  .plants-lover-container {
    /* border:2px solid tomato; */
    flex-direction: column;
    width: 390px;
    margin-top: 50px;
    margin-left: 20px;
  }
  .lover-img {
    width: 72%;
    margin-left: 76px;
    background: linear-gradient(
      rgba(103, 171, 234, 0.24),
      rgba(103, 171, 234, 0.24)
    );
  }
  .lover-badge {
    display: none;
  }
  .plans-lover-content {
    width: 100%;
  }
  .lover-title {
    font-size: 24px;
  }
  .lover-item li {
    width: 361px;
    font-size: 14px;
  }

  /* Latest Deals Section Responsive */
  /* .latest-container {
    margin-top: 550px;
  } */
  .latest-title {
    font-size: 35px;
  }
  .latest-paragraph {
    width: 360px;
    font-size: 15px;
  }

  .latest-img-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .latest-img-right {
    width: 85%;
    height: 350px;
    margin-top: 20px;
    margin-left: 7px;
  }
  .latest-img-right h1 {
    /* border:2px solid tomato; */
    width: 100%;
    /* margin-top: 100px; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    font-size: 20px;
  }
  /* .latest-img-item h1{
    
  } */

  /* Join Section Responsive */
  .join-section {
    width: 393px;
  }
  .join-section h1 {
    width: 235px;
    font-size: 20px;
  }
  .form-container {
    width: 320px;
  }

  /* Footer section responsive */
  .footer-container {
    width: 393px;
    height: 680px;
    display: flex;
    flex-direction: column;
  }
  .footer-item {
    /* border:1px solid tomato; */
    /* display: flex; */
    flex-direction: column;
  }
  .footer-logo {
    margin: 0 auto;
  }
  .footer-item {
    gap: 0px;
    margin-right: 340px;
  }
  .social-icon {
    /* border:1px solid tomato; */
    width: 216px;
    height: 36px;
    margin-top: 40px;
    margin-right: 140px;
  }
  .social-icon img {
    width: 36px;
  }
}
